@font-face {
    font-family: 'NewComicTitle';
    src: url(newcomictitle.ttf)
}

#logo {
    width: 30vw;
    padding: 0;
    padding-top: 8vw;
    margin: -3%;
    overflow-x: hidden
}
 
head  {
    overflow-x: hidden
}

body {
    display: flex;
    background-color: black;
    background-image: url(MosaicWallpaper.png);
    background-size: cover;
    background-position: top;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.box {
    margin: 0 20%;
}

article {
    background-color: black;
    color: white;
    border: .4em solid yellow;
    padding: 0 7vw;
    margin: 2vw;
    font-size: 3vw;
    text-align: center;
    font-family: 'Times New Roman', 'Comic Sans MS';
    border-radius: 2em;
    width: 50vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: NewComicTitle, Courier, monospace, 'Comic Sans MS';
    text-align: center;
    color: yellow;
    text-shadow: 1vw 1vw black;
}

h6 {
    font-size: 1vw;
}

h5 {
    font-size: 2vw;
}

h4 {
    font-size: 3vw;
}

h3 {
    color: orangered;
    font-size: 4vw;
}

h2 {
    font-size: 5vw;
}

h1 {
    font-size: 6vw;
}

iframe {
    width: 48vw;
    height: 27vw;
    margin: 1vw 0vw;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    font-size: 3vw;
}

.bullet {
    width: auto;
    height: .8em;
    padding-top: -20%;
    top: 10%;
}

.imgleft {
    position: absolute;
    width: 25vw;
    height: auto;
    right: 87vw;
    rotate: 30deg;
}

.imgright {
    position: absolute;
    width: 25vw;
    height: auto;
    left: 87vw;
    rotate: -30deg;

}

#Okabe {
    top: 10vw;
    width: 30vw;
    rotate: 18deg;
    right: 90vw;
}

#Kurisu {
    top: 45vw;
    width: 32vw;
    rotate: -50deg;
    left: 80vw;
}

#Flame506 {
    top: 460vw;
    width: 22vw;
    rotate: -34deg;
    left: 88vw;
}
