@font-face {
    font-family: 'NewComicTitle';
    src: url(newcomictitle.ttf)
}

@keyframes codecAssOpening {
    from  { width: 75vw; max-height: 1px; overflow-y: hidden;}
    to { width: 75vw; max-height:  300vw;}
  }

#logo {
    width: 25vh;
    padding: 0;
    padding-top: 1vw;
    overflow-x: hidden;
    opacity: 100;
}

.wrapper {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

head {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: black;
    background-image: url(MosaicWallpaper.png);
    background-size: cover;
    background-position: top;
    align-items: center;
    margin: 0; 
}

div {
    position: relative;
    display: block;
    padding: 3vh 0;
    margin: 2vh;
    overflow-y: hidden;
}

article {
    background-color: black;
    color: white;
    border: 1vw solid yellow;
    font-size: 3vh;
    text-align: center;
    font-family: 'Times New Roman', 'Comic Sans MS';
    border-radius: 2em;
    justify-content: center;
    overflow-x: hidden;
    width: 75vw;
    height: 100%;
    margin: 2vh;
    padding: 4vw;
    position: relative;
    opacity: 100;
    animation-timing-function: linear;
    animation: codecAssOpening 5s;
}

.normalP {
    font-size: 3.5vmin;
    margin: 2vw;
    padding-bottom: 1.5vw;
}

h6 {
    font-size: 1vw;
}

h5 {
    font-size: 2vw;
}

h4 {
    font-size: 3vw;
        margin: .1vw 0;
}

h3 {
    color: orangered;
    font-size: 4vw;
}

h2 {
    font-size: 7vw;
    font-family: NewComicTitle, Courier, monospace, 'Comic Sans MS';
    text-align: center;
    color: yellow;
    text-shadow: 1vw 1vw black;
    margin: 0;
}

h1 {
    font-size: 6vw;
}

.video {
    width: 58vw;
    height: auto;
}

/*iframe shit*/
#streamBox {
    margin: 0%;
    padding: 0%;
}

iframe {
    height: 42.1875vw;
    width: 75vw;
    display: flex;
    float: left;
    margin: 0%;
    padding: 0%;
}

.bullet {
    width: auto;
    height: .8em;
    padding-top: -20%;
    top: 10%;
}

#GameArticle {
    float: left;
    overflow-y: hidden;
    overflow-x: hidden;
}
#GameContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0;
}

.GameLi {
    padding: 0;
    float: left;
	margin: 2.34vw;
}

.GameLi>h2 {
    transition: ease-in-out 1.5s;
}

.GameImage {
    padding-left: auto;
    height: auto;
    width: 100%;
    vertical-align: middle;
    transition: ease-in-out 1.5s;
}

.textInImage{
    font-size: 2vw;
    position: absolute;
    bottom: -2vw;
    text-align: center;
    width: 100%;
    background: black;
    opacity: 0%;
    transition: opacity .3s ease-in-out;
}

.GameLi:hover .textInImage {
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}

.mainul{
    display: flex;
    margin: 0;
    padding: 0%;
    list-style: none;
}

.top{
    float: left;
    width: 25%;
    height: 8vh;
    background-color: #f79756;
    line-height: 8vh;
    display: block;
    text-align: center;
    font-size: 90%;
    margin: 1.5vh 2vh;
    padding: 0;    
    border: 1vh solid black;
    border-radius: 2em;
    justify-content: center;
    overflow-x: hidden;
}

.sub{
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 90%;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.seconddropdown>li{
    background-color: black;
    line-height: 40px;
    text-align: center;
    font-size: 90%;
    display: none;
    width: 25%;
    float: left;
    
}

ul.mainul li a {
    text-decoration: none;
    color: black;
    font-size: 3vw;
    display: block;
    overflow: hidden;
}

ul.mainul li a:hover {
    background-color: #f6362a;
}

.top:hover .sub {
    display: block;
}

.active {
    background-color: #f6362a;
}
